__pycache__/
extension/node_modules
extension/dist.crx
dataset/testset.csv
dataset/trainset.csv
source/main_test.ipynb
extension/dist.pem
extension/dist/_metadata/generated_indexed_rulesets/_ruleset1
.DS_Store
.github
.git