__pycache__/
extension/node_modules
extension/dist.crx
extension/dist.pem
extension/dist.zip
extension/dist/_metadata/generated_indexed_rulesets/_ruleset1
extension/.DS_Store
.DS_Store
.github
.git
.github/workflows
.vscode
dataset/all_df_883_train.csv
source/node_modules
Python-3.7.17.tgz
extension/dist/_metadata/generated_indexed_rulesets/_ruleset1
embedding.ipynb

