numpy==1.21.6
pandas
tqdm
scikit-learn==1.5.0
scipy==1.7.3
beautifulsoup4
gensim
tabgan
matplotlib
requests
tabulate
future
h2o
onnx
onnxruntime
onnxmltools
onnxconverter-common
seaborn
pyyaml
urllib3==1.26.19